# One author. Earlier addresses map to the canonical one; history is not rewritten.
parthod0x <parthms.id@gmail.com> <parthms.id@gmail.com>
parthod0x <parthms.id@gmail.com> <parthod0x@users.noreply.github.com>
parthod0x <parthms.id@gmail.com> <psyq1942@gmail.com>
